.SignOut {
  height: 48px;
  padding: 0 1rem;
  min-width: 100px;
  margin-right: 2rem;
  background: #008BF8;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: hand;
  cursor: pointer;
}